body {
  background-color: rgb(13, 0, 42);
  margin: 20px;
}

h1 {
  color: rgb(255, 255, 255);
}

#chatContainer {
  width: 90%;
  height: 50vh;
  overflow: auto;
  background-color: rgb(24, 4, 116);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.user-msg {
  color: lime;
}

.bot-msg {
  color: white;
}
#inputWrapper {
  display: flex;
  justify-content: space-evenly;
}

#msgInput {
  flex-grow: 1;
  height: 30px;
  margin-right: 10px;
  border-radius: 20px;
}

#sendButton {
}
